<div class="  relative flex flex-col min-w-0 break-words  mb-6 shadow-lg bg-blueGray-50 rounded mt-12">
  <div class="rounded-t mb-0 px-4 py-3 border-0 ">
    <div class="">
      <b>
        <h1 class="  text-center  text-4xl ">Patient Form</h1>
      </b>
    </div>
    <form class="">
      <div class="flex flex-wrap -mx-3 mb-4">




        <div class="w-full md:w-1/2 px-3 mb-4 ">
          <label class=" text-emerald-500 block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2"
            for="grid-first-name">
            Full name
          </label>
          <input [ngClass]="errors ? 'input-class border border-red-500  bg-gray-200' : 'input-class'"
            id="grid-first-name" type="text" placeholder="AW34556">
          <p *ngIf="false" class="text-red-500 text-xs italic">Please fill out this field.</p>
        </div>

        <div class="w-full md:w-1/2 px-3 mb-4 ">
          <label class=" text-emerald-500 block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2"
            for="grid-first-name">
            Enter CIN of patient
          </label>
          <input [ngClass]="errors ? 'input-class border border-red-500  bg-gray-200' : 'input-class'"
            id="grid-first-name" type="text" placeholder="AW34556">
          <p *ngIf="false" class="text-red-500 text-xs italic">Please fill out this field.</p>
        </div>

        <div class="w-full md:w-1/2 px-3 mb-4 ">
          <label class=" text-emerald-500 block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2"
            for="grid-first-name">
            Age
          </label>
          <input [ngClass]="errors ? 'input-class border border-red-500  bg-gray-200' : 'input-class'"
            id="grid-first-name" type="number">
          <p *ngIf="false" class="text-red-500 text-xs italic">Please fill out this field.</p>
        </div>
        <div class="w-full md:w-1/2 px-3 mb-4 ">
          <label class=" text-emerald-500 block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2"
            for="grid-first-name">
            Phone number
          </label>
          <input [ngClass]="errors ? 'input-class border border-red-500  bg-gray-200' : 'input-class'"
            id="grid-first-name" type="tel" placeholder="0101010101">
          <p *ngIf="false" class="text-red-500 text-xs italic">Please fill out this field.</p>
        </div>
        <div class="w-full md:w-1/2 px-3 mb-4 ">
          <label class=" text-emerald-500 block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2"
            for="grid-first-name">
            Password
          </label>
          <input [ngClass]="errors ? 'input-class border border-red-500  bg-gray-200' : 'input-class'"
            id="grid-first-name" type="password">
          <p *ngIf="false" class="text-red-500 text-xs italic">Please fill out this field.</p>
        </div>
        <div class="w-full md:w-1/2 px-3 mb-4">
          <label class=" text-emerald-500 block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2"
            for="grid-first-name">
            Confirm Password
          </label>
          <input [ngClass]="errors ? 'input-class border border-red-500  bg-gray-200' : 'input-class'"
            id="grid-first-name" type="password">
          <p *ngIf="false" class="text-red-500 text-xs italic">Please fill out this field.</p>
        </div>


        <div class="w-full md:w-1/2 px-3 mb-4 ">
          <label class=" text-emerald-500 block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2"
            for="grid-first-name">
            import cin
          </label>
          <input [ngClass]="errors ? 'input-class border border-red-500  bg-gray-200' : 'input-class'"
            id="grid-first-name" type="file">
          <p *ngIf="false" class="text-red-500 text-xs italic">Please fill out this field.</p>
        </div>

        <div class="w-full md:w-1/2 px-3 mb-4 ">
          <label class=" text-emerald-500 block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2"
            for="grid-first-name">
            Adresse
          </label>
          <input [ngClass]="errors ? 'input-class border border-red-500  bg-gray-200' : 'input-class'"
            id="grid-first-name" type="text">
          <p *ngIf="false" class="text-red-500 text-xs italic">Please fill out this field.</p>
        </div>
      </div>



      <div class="flex justify-center w-full ">
        <button class="bg-emerald-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded w-full">
          Save
        </button>
      </div>
    </form>

  </div>
</div>