<div
  class="relative flex flex-col min-w-0 break-words w-full mb-6 shadow-lg rounded"
  [ngClass]="color === 'light' ? 'bg-white' : 'bg-red-900 text-white'"
>
  <div class="rounded-t mb-0 px-4 py-3 border-0">
    <div class="flex flex-wrap items-center">
      <div class="relative flex space-between w-full px-4 max-w-full flex-grow flex-1 ">
        <h3
          class="font-semibold text-lg"
          [ngClass]="color === 'light' ? 'text-blueGray-700' : 'text-black'"
        >
          Secretaries  Table
        </h3>
        <button  class="btnAddS bg-indigo-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded" (click)="allerVersPage2()">
          <a [routerLink]="['/admin/secretaryform']">AddSecratary</a>
          
        </button>
      </div>
    </div>
  </div>
  <div class="block w-full overflow-x-auto">
    <!-- Projects table -->
    <table class="items-center w-full bg-transparent border-collapse">
      <thead>
        <tr>
          <th
            class="px-6 text-black  align-middle border border-solid py-3 text-xs uppercase border-l-0 border-r-0 whitespace-nowrap font-semibold text-left"
            [ngClass]="
              color === 'light'
                ? 'bg-blueGray-50 text-blueGray-500 border-blueGray-100'
                : 'bg-red-800 text-red-300 border-red-700'
            "
          >
           <b><h4 class = "text-emerald-500">Full Name</h4></b>
          </th>
          <th
            class="px-6 align-middle border border-solid py-3 text-xs uppercase border-l-0 border-r-0 whitespace-nowrap font-semibold text-left"
            [ngClass]="
              color === 'light'
                ? 'bg-blueGray-50 text-blueGray-500 border-blueGray-100'
                : 'bg-red-800 text-red-300 border-red-700'
            "
          >
          <b><h4 class = "text-emerald-500">Age</h4></b>
          </th>
          <th
          class="px-6 align-middle border border-solid py-3 text-xs uppercase border-l-0 border-r-0 whitespace-nowrap font-semibold text-left"
          [ngClass]="
            color === 'light'
              ? 'bg-blueGray-50 text-blueGray-500 border-blueGray-100'
              : 'bg-red-800 text-red-300 border-red-700'
          "
        >
        </th>
          <th
            class="px-6 align-middle border border-solid py-3 text-xs uppercase border-l-0 border-r-0 whitespace-nowrap font-semibold text-left"
            [ngClass]="
              color === 'light'
                ? 'bg-blueGray-50 text-blueGray-500 border-blueGray-100'
                : 'bg-red-800 text-red-300 border-red-700'
            "
          >
          
          <b><h4 class = "text-emerald-500">Email</h4></b>
          </th>

      
          <th
            class="px-6 align-middle border border-solid py-3 text-xs uppercase border-l-0 border-r-0 whitespace-nowrap font-semibold text-left"
            [ngClass]="
              color === 'light'
                ? 'bg-blueGray-50 text-blueGray-500 border-blueGray-100'
                : 'bg-red-800 text-red-300 border-red-700'
            "
          >
          <b><h4 class = "text-emerald-500">Salary</h4></b>
          </th>
          
          <th
          class="px-6 align-middle border border-solid py-3 text-xs uppercase border-l-0 border-r-0 whitespace-nowrap font-semibold text-left"
          [ngClass]="
            color === 'light'
              ? 'bg-blueGray-50 text-blueGray-500 border-blueGray-100'
              : 'bg-red-800 text-red-300 border-red-700'
          "
        ><b><h4 class = "text-emerald-500">Situation</h4></b>
       
        </th>
        <th
        class="px-6 align-middle border border-solid py-3 text-xs uppercase border-l-0 border-r-0 whitespace-nowrap font-semibold text-left"
        [ngClass]="
          color === 'light'
            ? 'bg-blueGray-50 text-blueGray-500 border-blueGray-100'
            : 'bg-red-800 text-red-300 border-red-700'
        "
      ><b><h4 class = "text-emerald-500">Modifiers</h4></b>
     
      </th>
        <th
          class="px-6 align-middle border border-solid py-3 text-xs uppercase border-l-0 border-r-0 whitespace-nowrap font-semibold text-left"
          [ngClass]="
            color === 'light'
              ? 'bg-blueGray-50 text-blueGray-500 border-blueGray-100'
              : 'bg-red-800 text-red-300 border-red-700'
          "
        ><b><h4 class = "text-emerald-500">Profile</h4></b>
      </th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th
            class=" px-4 py-2 border-t-0 px-6 align-middle border-l-0 border-r-0 text-xs whitespace-nowrap p-4 text-left flex items-center"
          >
              <div class=" name  px-4 py-2"><h1 > Chaimaa Tamir </h1>
              </div>
           
           
           
          </th>
          <td
            class="border-t-0 px-6 align-middle border-l-0 border-r-0 text-xs whitespace-nowrap p-4"
          >
            22 
          </td>
          <td
          class="border-t-0 px-6 align-middle border-l-0 border-r-0 text-xs whitespace-nowrap p-4"
        >
          
        </td>

          <td
          class="border-t-0 px-6 align-middle border-l-0 border-r-0 text-xs whitespace-nowrap p-4"
        >
          <p>chaimaatamir43@gmail.com
        </td>
        <td
        class="border-t-0 px-6 align-middle border-l-0 border-r-0 text-xs whitespace-nowrap p-4"
      >
        5000DH
      </td>
      <td
      class="border-t-0 px-6 align-middle border-l-0 border-r-0 text-xs whitespace-nowrap p-4"
    >
    <button class="bg-emerald-500  hover:bg-emerald-500 text-white font-bold py-2 px-4 rounded">
     Actif
    </button>
    </td>
    <td
      class="border-t-0 px-6 align-middle border-l-0 border-r-0 text-xs whitespace-nowrap p-4"
    >
    <div class ="flex  ">
    <button class="bg-yellow-500  text-white font-bold py-2 px-4 rounded">
     Update
    </button>
     <button class="bg-red-500  hover:bg-emerald-500 text-white font-bold py-2 px-4 rounded">
    Delete
    </button>
  </div>
    </td>  
    <td
      class="border-t-0 px-6 align-middle border-l-0 border-r-0 text-xs whitespace-nowrap p-4"
    >
    <button class="bg-indigo-500 px-6 hover:bg-gray-200 text-white font-bold py-2 px-4 rounded-full inline-flex items-center">
      <i class="fas fa-user"></i>
      <svg class="fill-current bg-white w-4 h-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
        <path d="M10 12a2 2 0 100-4 2 2 0 000 4z"/>
        <path fill-rule="evenodd" d="M10 0a10 10 0 110 20 10 10 0 010-20zm0 18.75a8.75 8.75 0 110-17.5 8.75 8.75 0 010 17.5zm3.53-6.22a1.25 1.25 0 11-1.76 1.77 3.75 3.75 0 10-5.29 0 1.25 1.25 0 11-1.77-1.77 6.25 6.25 0 119.82 0z"/>
      </svg>
    </button>
    
    </td>     
        </tr>
     
      </tbody>
    </table>
  </div>
</div>
<!--td
class="border-t-0 px-6 align-middle border-l-0 border-r-0 text-xs whitespace-nowrap p-4 text-right"
>
<app-table-dropdown></app-table-dropdown>
</td--->
<style>
  .flex button:not(:last-child) {
    margin-right: 10px;
  }
  .btnAddS{
    margin-left:1000px;
  }
  tr:hover {
    background-color: beige;
  }

</style>