<div class="container mx-auto px-4 h-full">
  <div class="flex content-center items-center justify-center h-full">
    <div class="w-full lg:w-6/12 px-4">
      <div
        class="relative flex flex-col min-w-0 break-words w-full mb-6 shadow-lg rounded-lg bg-blueGray-200 border-0"
      >
        <div class="rounded-t mb-0 px-6 py-6">
          <div class="rounded-t mb-0 px-6 py-6">
            <div class="  w-full flex">
              <div class="w-1/2 flex justify-between">
                <span class="cursor-pointer" [routerLink]="'/landing'">
                  <i class="fas fa-arrow-left"></i>
                </span>
                <h6 class="text-blueGray-500 text-sm font-bold">Sign up</h6>
              </div>
            </div>
  
            <hr class="mt-6 border-b-1 border-blueGray-300" />
          </div>

 
         
          <form>
            <div class="relative w-full mb-3">
              <label
                class="block uppercase text-blueGray-600 text-xs font-bold mb-2"
                htmlFor="grid-password"
              >
                Name
              </label>
              <input
                type="email"
                class="border-0 px-3 py-3 placeholder-blueGray-300 text-blueGray-600 bg-white rounded text-sm shadow focus:outline-none focus:ring w-full ease-linear transition-all duration-150"
                placeholder="Name"
                ng-model="input1"
              />
              <p class="text-red-500 text-xs italic">Please fill out this field.</p>
            </div>

            <div class="relative w-full mb-3">
              <label
                class="block uppercase text-blueGray-600 text-xs font-bold mb-2"
                htmlFor="grid-password"
              >
                Email
              </label>
              <input
                type="email"
                class="border-0 px-3 py-3 placeholder-blueGray-300 text-blueGray-600 bg-white rounded text-sm shadow focus:outline-none focus:ring w-full ease-linear transition-all duration-150"
                placeholder="Email"
                ng-model="input2"
              />
              <p class="text-red-500 text-xs italic">Please fill out this field.</p>
            </div>

            <div class="relative w-full mb-3">
              <label
                class="block uppercase text-blueGray-600 text-xs font-bold mb-2"
                htmlFor="grid-password"
              >
                Password
              </label>
              <input
                type="password"
                class="border-0 px-3 py-3 placeholder-blueGray-300 text-blueGray-600 bg-white rounded text-sm shadow focus:outline-none focus:ring w-full ease-linear transition-all duration-150"
                placeholder="Password"
                ng-model="input3"
              />
              <p class="text-red-500 text-xs italic">Please fill out this field.</p>
            </div>
            <div class="relative w-full mb-3">
              <label
                class="block uppercase text-blueGray-600 text-xs font-bold mb-2"
                htmlFor="grid-password"
              >
                Confirm Password
              </label>
              <input
                type="password"
                class="border-0 px-3 py-3 placeholder-blueGray-300 text-blueGray-600 bg-white rounded text-sm shadow focus:outline-none focus:ring w-full ease-linear transition-all duration-150"
                placeholder="Password"
                ng-model="input4"
              />
              <p class="text-red-500 text-xs italic">Please fill out this field.</p>
            </div>


            <div class="text-center mt-6">
              <button (click)="submitForm()"
              class="bg-emerald-400 text-white active: text-sm font-bold uppercase px-6 py-3 rounded shadow hover:shadow-lg outline-none focus:outline-none mr-1 mb-1 w-full ease-linear transition-all duration-150"
              type="button"
            >
            Register
            </button>
            </div>
            <div class="text-white px-6 py-4 border-0 rounded relative mb-4 bg-red-500 alert" *ngIf ="showAlert">
              <span class="text-xl inline-block mr-5 align-middle">
                <i class="fas fa-bell"></i>
              </span>
              <span class="inline-block align-middle mr-8">
                   Please Check the password
              </span>
              <button class="absolute bg-transparent text-2xl font-semibold leading-none right-0 top-0 mt-4 mr-6 outline-none focus:outline-none" (click)="closeAlert()">
                <span>×</span>
              </button>
            </div>
          </form>
        </div>
        
      </div>
      <div class="flex flex-wrap mt-2 relative">
        <div class="w-full text-center">
          <a [routerLink]="['/auth/login']" class="text-black">
            <small>You already have an account</small>
          </a>
        </div>
      </div>
      
    </div>
  </div>
</div>
