<div (click)=" change()" class="cursor-pointer my-1">
    <span *ngIf="status == 'waiting to pass'" class="bg-blue-100 text-blue-800 text-xs font-medium mr-2 px-2.5 py-0.5 rounded">
        {{ status }}
      </span>
      <span *ngIf="status == 'waiting to accept'" class="bg-yellow-100 whitespace-nowrap text-yellow-800 text-xs font-medium mr-2 px-2.5 py-0.5 rounded ">
        {{ status }}
      </span>
    
      <span *ngIf="status == 'passed'" class="bg-green-100 whitespace-nowrap text-green-800 text-xs font-medium mr-2 px-2.5 py-0.5 rounded ">
        {{ status }}
      </span>
    
      <span *ngIf="status == 'refused'" class="bg-red-100 whitespace-nowrap text-red-800 text-xs font-medium mr-2 px-2.5 py-0.5 rounded ">
        {{ status }}
      </span>
</div>
