<app-auth-navbar></app-auth-navbar>
<main>
  <div
    class="relative pt-16 pb-32 flex content-center items-center justify-center min-h-screen-75"
  >
    <div
      class="absolute top-0 w-full h-full bg-center bg-cover"
      style="
        background-image: url('https://cdn.pixabay.com/photo/2016/11/08/05/29/surgery-1807541_640.jpg');
      "
    >
      <span
        id="blackOverlay"
        class="w-full h-full absolute opacity-75 bg-black"
      ></span>
    </div>
    <div  class="container   relative mx-auto">
      <div class="items-center flex flex-wrap  gap-3">
        <div class="w-full lg:w-6/12  px-4 ml-auto mr-auto text-center"  >
          <div class="pr-12">
            <h1 class="text-emerald-500 font-semibold text-5xl  my-title">
              Your story starts with us.
            </h1>
            <span><b><p class="  mt-4 text-lg text-white">
              Medicine is not only a science, but also an art it does not consist of compounding pills and plasters.
            </p>
          </b>
        </span>
          </div>

        </div>
      </div>
    </div>
    <div
      class="top-auto bottom-0 left-0 right-0 w-full absolute pointer-events-none overflow-hidden h-70-px"
      style="transform: translateZ(0)"
    >
      <svg
        class="absolute bottom-0 overflow-hidden"
        xmlns="http://www.w3.org/2000/svg"
        preserveAspectRatio="none"
        version="1.1"
        viewBox="0 0 2560 100"
        x="0"
        y="0"
      >
        <polygon
          class="text-blueGray-200 fill-current"
          points="2560 0 2560 100 0 100"
        ></polygon>
      </svg>
    </div>
  </div>

  <section class="pb-20 bg-blueGray-200 -mt-24">
    <div class="container mx-auto px-4">
      <div class="flex flex-wrap">
        <div class="lg:pt-12 pt-6 w-full md:w-4/12 px-4 text-center ">
          <div
          
            class="relative flex flex-col min-w-0 break-words bg-white w-full mb-8 shadow-lg my-div  rounded-lg"


          >
            <div class="px-4 py-5 flex-auto">
              <div
                class="text-white p-3 text-center inline-flex items-center justify-center w-12 h-12 mb-5 shadow-lg rounded-full bg-red-400"
              >
              <i class="fas fa-running"></i>
              </div>
              <h6 class="text-xl font-semibold">Stay Active</h6>
              <p class="mt-2 mb-4 text-blueGray-500">
                Regular exercise is essential for maintaining good health. Try to engage in at least 30 minutes of physical activity every day.
              </p>
            </div>
          </div>
        </div>

        <div class="w-full md:w-4/12 px-4 text-center">
          <div
            class="relative flex flex-col min-w-0 break-words bg-white w-full mb-8 shadow-lg  my-div rounded-lg"
          >
            <div class="px-4 py-5 flex-auto">
              <div
                class="text-white p-3 text-center inline-flex items-center justify-center w-12 h-12 mb-5 shadow-lg rounded-full bg-lightBlue-400"
              >
              <i class="fas fa-apple-alt"></i>
              </div>
              <h6 class="text-xl font-semibold">Eat a Balanced Diet</h6>
              <p class="mt-2 mb-4 text-blueGray-500">
                A healthy diet is crucial for overall health. Make sure to include plenty of fruits, vegetables, lean proteins, and whole grains in your diet.
              </p>
            </div>
          </div>
        </div>

        <div class="pt-6 w-full md:w-4/12 px-4 text-center">
          <div
            class="relative flex flex-col min-w-0 break-words bg-white w-full mb-8 shadow-lg  my-div rounded-lg"
          >
            <div class="px-4 py-5 flex-auto">
              <div
                class="text-white p-3 text-center inline-flex items-center justify-center w-12 h-12 mb-5 shadow-lg rounded-full bg-emerald-400"
              >
              <i class="fas fa-brain"></i>
              </div>
              <h6 class="text-xl font-semibold">Manage Stress</h6>
              <p class="mt-2 mb-4 text-blueGray-500">
                Stress can have a negative impact on your health. Practice stress-management techniques like meditation, deep breathing, or yoga to help manage stress.
              </p>
            </div>
          </div>
        </div>
      </div>

      <div class="flex flex-wrap items-center mt-32">
        <div class="w-full md:w-5/12 px-4 mr-auto ml-auto " #div1>
          <div
            class="text-white bg-red-600 p-3 text-center inline-flex items-center justify-center w-16 h-16 mb-6 shadow-lg rounded-full bg-white"
          >    
          <i class="fas fa-stethoscope"></i>
          </div>
          <h3 class="text-3xl mb-2  text-emerald-500  font-semibold leading-normal">
           Being with us is a pleasure
          </h3>
          <p
            class="text-lg font-light leading-relaxed mt-4 mb-4 text-blueGray-600"
          >
          Having a good relationship between a doctor and patient is essential for effective healthcare. When a patient feels comfortable with their doctor, they are more likely to trust their diagnosis and follow their treatment plan. On the other hand, a doctor who has a good relationship with their patients is better able to understand their needs and provide personalized care. This can lead to better health outcomes and a more positive healthcare experience.
          </p>
      
        </div>

        <div class="w-full md:w-4/12 px-4 mr-auto ml-auto " #div2>
          <div
            class="relative flex flex-col min-w-0 break-words bg-white w-full mb-6 shadow-lg rounded-lg bg-red-600"
          >
            <img
              alt="..."
              src="https://tse1.mm.bing.net/th?id=OIP.INXLh2XKNBVD59gixgh12QHaE7&pid=Api&P=0"
              class="w-full align-middle rounded-t-lg"
            />
            <blockquote class="relative p-8 mb-4">
              <svg
                preserveAspectRatio="none"
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 583 95"
                class="absolute left-0 w-full block h-95-px -top-94-px"
              >
                <polygon
                  points="-30,95 583,95 583,65"
                  class="text-red-600 fill-current"
                ></polygon>
              </svg>
              <h4 class="text-xl font-bold text-white">Top Notch Services</h4>
              <p class="text-md font-light mt-2 text-white">
                Overall, a good doctor-patient relationship is characterized by open and honest communication, mutual respect and trust, and a focus on personalized care. When these elements are present, both patients and doctors can benefit from a positive and productive healthcare experience.
              </p>
            </blockquote>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="relative py-20">
    <div
      class="bottom-auto top-0 left-0 right-0 w-full absolute pointer-events-none overflow-hidden -mt-20 h-20"
      style="transform: translateZ(0)"
    >
      <svg
        class="absolute bottom-0 overflow-hidden"
        xmlns="http://www.w3.org/2000/svg"
        preserveAspectRatio="none"
        version="1.1"
        viewBox="0 0 2560 100"
        x="0"
        y="0"
      >
        <polygon
          class="text-white fill-current"
          points="2560 0 2560 100 0 100"
        ></polygon>
      </svg>
    </div>

    <div class="container mx-auto px-4">
      <div class="items-center flex flex-wrap">
        <div class="w-full md:w-4/12 ml-auto mr-auto px-4">
          <img
            alt="..."
            class="max-w-full rounded-lg shadow-lg"
            src="https://tse2.mm.bing.net/th?id=OIP.mpv7z_9BfFLhumw6LuVAbgHaE7&pid=Api&P=0"
          />
        </div>
        <div class="w-full md:w-5/12 ml-auto mr-auto px-4">
          <div class="md:pr-12">
            <div
              class="text-white bg-emerald-500 bg-p-3 text-center inline-flex items-center justify-center w-16 h-16 mb-6 shadow-lg rounded-full"
            >
            <i class="fas fa-ambulance"></i>
            </div>
            <h3 class="text-3xl font-semibold text-red-800">Saving Life</h3>
            <p class="mt-4 text-lg leading-relaxed text-blueGray-500">
              Saving lives is an important aspect of healthcare, and it involves the collaboration between healthcare professionals and the community. When a person's life is in danger, quick action is necessary to prevent further harm or death. This can involve administering first aid, calling emergency services, or providing medical treatment.
            </p>
            <ul class="list-none mt-6">
              <li class="py-2">
                <div class="flex items-center">
    
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="pt-20 pb-48 bg-blueGray-200 ">
    <div class="container mx-auto px-4">
      <div class="flex flex-wrap justify-center text-center mb-24">
        <div class="w-full lg:w-6/12 px-4">
          <h2 class="text-4xl font-semibold text-emerald-500">Focus on your employees, not the paperwork</h2>
          <p class="text-lg leading-relaxed m-4 text-black">
            Administer the best care with Nova's tech-first platform and wide-range of insurance and wellness benefits
          </p>
        </div>
      </div>
      <div class="flex flex-wrap flex items-center justify-center">
      
        <div class="w-full md:w-6/12 lg:w-3/12 lg:mb-0 mb-12 px-4">
          <div class="px-6">
            <img
              alt="..."
              src="https://i.pinimg.com/236x/5d/80/e1/5d80e1f0fac79ad82cb88eb1d41fa8c1.jpg"
              class="shadow-lg rounded-full mx-auto max-w-120-px"
            />
            <div class="pt-6 text-center">
              <h5 class="text-xl font-bold text-red-600">Attract Top Talent</h5>
              <p class="mt-1 text-sm text-black  uppercase font-semibold">
                "Fear should not dictate our lives. We have a choice."
              </p>
             
            </div>
          </div>
        </div>
        <div class="w-full md:w-6/12 lg:w-3/12 lg:mb-0 mb-12 px-4">
          <div class="px-6">
            <img
              alt="..."
              src="https://i.pinimg.com/236x/f7/bd/7a/f7bd7a0146feb86d7e123d942329f0b7.jpg"
              class="shadow-lg rounded-full mx-auto max-w-120-px"
            />
            <div class="pt-6 text-center">
              <h5 class="text-xl font-bold text-red-600">Retain Best Performers</h5>
              <p class="mt-1 text-sm text-black  uppercase font-semibold">
                "We're adults. When did that happen? And how do we make it stop?"
              </p>
              
            </div>
          </div>
        </div>
        <div class="w-full md:w-6/12 lg:w-3/12 lg:mb-0 mb-12 px-4">
          <div class="px-6">
            <img
              alt="..."
              src="https://i.pinimg.com/236x/35/22/d9/3522d9f00756b101bd31ed5cfcb92ba0.jpg"
              class="shadow-lg rounded-full mx-auto max-w-120-px"
            />
            <div class="pt-6 text-center">
              <h5 class="text-xl font-bold text-red-500">Build Productive Teams</h5>
              <p class="mt-1 text-sm text-black uppercase font-semibold">
                "You can't change the system from the inside, only from the outside"
              </p>
              
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="pb-20 relative block bg-blueGray-600">
    <div
      class="bottom-auto top-0 left-0 right-0 w-full absolute pointer-events-none overflow-hidden -mt-20 h-20"
      style="transform: translateZ(0)"
    >
      
    </div>

    <div class="container mx-auto px-4 lg:pt-24 lg:pb-64">
      <div class="flex flex-wrap text-center justify-center">
       
      </div>
      <div class="flex flex-wrap mt-12 justify-center">
      </div>
    </div>
  </section>
  <section class="relative block py-24 lg:pt-0 bg-blueGray-600">
    <div class="container mx-auto px-4">
      <div class="flex flex-wrap justify-center lg:-mt-64 -mt-48">
        <div class="w-full lg:w-6/12 px-4">
          <div
            class="relative flex flex-col min-w-0 break-words w-full mb-6 shadow-lg rounded-lg bg-blueGray-200"
          >
            <div class="flex-auto p-5 lg:p-10">
              <h4 class="text-2xl font-semibold text-emerald-500">Want to you to ask?</h4>
              <p class="leading-relaxed mt-1 mb-4 text-black">
                Complete this form and we will get back to you in 24 hours.
              </p>
              <div class="relative w-full mb-3 mt-8">
                <label
                  class="block uppercase text-emerald-500 text-xs font-bold mb-2"
                  htmlFor="full-name"
                >
                  Full Name
                </label>
                <input
                  type="text"
                  class="border-0 px-3 py-3 placeholder-blueGray-300 text-blueGray-600 bg-white rounded text-sm shadow focus:outline-none focus:ring w-full ease-linear transition-all duration-150"
                  placeholder="Full Name"
                />
              </div>

              <div class="relative w-full mb-3">
                <label
                  class="block uppercase text-emerald-500 text-xs font-bold mb-2"
                  htmlFor="email"
                >
                  Email
                </label>
                <input
                  type="email"
                  class="border-0 px-3 py-3 placeholder-blueGray-300 text-blueGray-600 bg-white rounded text-sm shadow focus:outline-none focus:ring w-full ease-linear transition-all duration-150"
                  placeholder="Email"
                />
              </div>

              <div class="relative w-full mb-3">
                <label
                  class="block uppercase text-emerald-500 text-xs font-bold mb-2"
                  htmlFor="message"
                >
                  Message
                </label>
                <textarea
                  rows="4"
                  cols="80"
                  class="border-0 px-3 py-3 placeholder-blueGray-300 text-blueGray-600 bg-white rounded text-sm shadow focus:outline-none focus:ring w-full"
                  placeholder="Type a message..."
                ></textarea>
              </div>
              <div class="text-center mt-6">
                <button
                  class="bg-emerald-500 text-white active:bg-blueGray-600 text-sm font-bold uppercase px-6 py-3 rounded shadow hover:shadow-lg outline-none focus:outline-none mr-1 mb-1 ease-linear transition-all duration-150"
                  type="button"
                >
                  Send Message
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
<app-footer></app-footer>
