<div class="flex flex-wrap">
  <div class="w-full px-4">
    <div class="relative flex flex-col min-w-0 break-words bg-white w-full mb-6 shadow-lg rounded">
      <div class="rounded-t mb-0 px-4 py-3 border-0">
        <!-- component -->
        <div class="flex items-center justify-center py-8 px-4">
          <div class="w-full shadow-lg">

            <div>
              <ul class="text-sm font-medium text-center text-gray-500 divide-x divide-gray-200 rounded-lg shadow sm:flex dark:divide-gray-700 dark:text-gray-400">
                <li class="w-full" (click)="type = 'schema'">
                  <a  
                    [ngClass]="[type == 'schema' ? 'text-gray-900 bg-gray-100' : 'bg-white hover:text-gray-700 hover:bg-gray-50 ']"
                    class="inline-block w-full cursor-pointer  p-4  " >
                    Schema
                  </a>
                </li>
                <li (click)="type = 'table'" class="w-full">
                  <a
                    [ngClass]="[type == 'table' ? 'text-gray-900 bg-gray-100' : ' bg-white hover:text-gray-700 hover:bg-gray-50']"
                    class="inline-block w-full p-4 cursor-pointer">
                    Table
                  </a>
                </li>
              </ul>
            </div>
            

            <app-schedule-schema *ngIf="type == 'schema'"
            (changeStatusEvent)="changeStatus($event)"
            [dataLoading]="dataLoading"  [data]="data"></app-schedule-schema>
            <app-schedule-table
              *ngIf="type == 'table'"
              (searchEvent)="getData($event)"
              (changeStatusEvent)="changeStatus($event)"
            [dataLoading]="dataLoading"  [data]="data"></app-schedule-table>
          </div> 
        </div>
      </div>
    </div>
  </div>
</div>