/* You can add global styles to this file, and also import other style files */
.input-class{
    @apply appearance-none block w-full text-gray-700  rounded py-3 px-4 mb-3 ;
 }

 @keyframes pulse {
    0% {
      opacity: 1;
    }
    50% {
      opacity: 0.5;
    }
    100% {
      opacity: 1;
    }
  }
  
  .skeleton-animation {
    animation: pulse 1.5s infinite;
  }